<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a th:href="@{/}">Home</a></li>
              <li><a th:href="@{/board}">Notice</a></li>
              <li><a sec:authorize="isAuthenticated()" th:href="@{/member/user/mypage}">my page</a></li>
              <li><div class="main-white-button"><a sec:authorize="isAnonymous()" th:href="@{/member/user/login}"><i class="fa fa-plus"></i> login</a></div></li> 
              <!-- <li><div class="main-white-button"><a sec:authorize="isAuthenticated()" th:href="@{/logout}"><i class="fa fa-plus"></i> logout</a></div></li>  -->
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
</body>
</html> 